CamareSampleXamarin/CamareSampleXamarin.Android/bin/
CamareSampleXamarin/CamareSampleXamarin.Android/obj/
CamareSampleXamarin/CamareSampleXamarin.UWP/bin/
CamareSampleXamarin/CamareSampleXamarin.UWP/obj/
CamareSampleXamarin/CamareSampleXamarin/bin/
CamareSampleXamarin/CamareSampleXamarin/obj/
